body {
    font-family: 'Poppins', sans-serif;
    background-color: #0b0b0b;
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.section-scene {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #222;
}
