body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* Scrollbar hidden for cleaner cinematic feel */
body::-webkit-scrollbar {
  display: none;
}

#white-mask {
    /* Yeh crucial hai animation ke liye */
    transition: clip-path 0.1s ease-out; 
}
